---
import Head from "@/components/Head.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Conoce.me</title>
  </head>
  <body class="bg-gray-200">
    <header class="bg-white px-4 py-4 max-w-xl mx-auto mt-4 rounded-full">
      <div class="flex items-center">
        <h1 class="font-bold text-xl">Conoce.Me</h1>
        <div class="ml-10 flex items-baseline space-x-4">
          <a
            href="#"
            class={`text-gray-900 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium`}
          >
            Inicio
          </a>

          <a
            href="/blog"
            class="text-gray-900 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >
            Tarjetas
          </a>
        </div>
      </div>
    </header>
    <slot />
  </body>
</html>
