<footer
  class="mt-auto bg-white w-full flex flex-row items-center justify-center text-md p-2"
>
  <a href="https://crystal-desarrollo.com">
    Sitio desarrollado por Crystal Desarrollo
  </a>
</footer>
